<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445581641561-bdfl9ki49k47bj1a9eepbeefcjshil8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445581641561-bdfl9ki49k47bj1a9eepbeefcjshil8r</string>
	<key>API_KEY</key>
	<string>AIzaSyChYxBkGGpHgUDCuBlcHqz_wmx_deGC5JY</string>
	<key>GCM_SENDER_ID</key>
	<string>445581641561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.impressico.ikart</string>
	<key>PROJECT_ID</key>
	<string>ikart-f78ba</string>
	<key>STORAGE_BUCKET</key>
	<string>ikart-f78ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445581641561:ios:2c4c072cc12d29d285ee48</string>
	<key>DATABASE_URL</key>
	<string>https://ikart-f78ba.firebaseio.com</string>
</dict>
</plist>